<section class="d-flex flex-column text-center align-items-center mt-3 mb-5">

  <div class="card-body"><h3><%= @user_first_name %> <%= @user_last_name %> <span class="text-danger ml-2 mr-2"> aka </span> <%= @user_username %></h3></div>



  <div class="card w-25 border-0">

    <div class="card-body"><h6><%= @user_description %></h6></div>

  </div>

  <div class="card-body d-flex justify-content-around mb-5"><h6>

  <%= @user_age %> ans -
  <i class="far fa-envelope mr-2 text-danger"></i><%= @user_email %> -
  <i class="fas fa-map-marker-alt mr-2 text-danger"></i><a href="<%= city_path(@user_city_id) %>" class="text-decoration-none"><%= @user_city_name %></a>

  </h6></div>
</section>

<section class="d-flex justify-content-center mt-5">

  <div class="w-50">
    <% @user_gossips.reverse.each do |gossip| %>
      <p><a href="<%= gossip_path(gossip.id) %>" class="text-decoration-none"><%= gossip.title %></a><br>
      <%= gossip.content %><br/>
      <span class="d-flex justify-content-end"><%= gossip.created_at.strftime("%d-%m-%Y") %></span></p>
    <% end %>
  </div>

</section>
