<section>
  <%= @user_first_name %> <%= @user_last_name %> <span class="text-danger ml-2 mr-2"> aka </span> <%= @user_username %>
  <%= @user_description %>
  <%= @user_age %> ans
  <%= @user_email %>
  <%= @user_city %>
  <% @user_gossips.each do |gossip| %>
    <%= gossip.user.username %>
    <%= gossip.title %>
    <%= link_to 'Voir le gossip', gossip_path(gossip.id) %>
  <% end %>
</section>
