<section class="mt-5">
	<div class="container w-50">
		<h2 class="text-center">Liste de tous les Gossips</h2>

    <h6 class="d-flex justify-content-center">À ce jour il y a <span class="text-danger ml-3 mr-2"><%= User.all.count %></span> utilisateurs</h6>
    <div class="container w-50 mr-5">
      <ul class="navbar-nav d-flex justify-content-start ml-3">
	      <li class="d-flex justify-content-start ml-4"> <h6><span class="text-danger mr-2"><%= Gossip.all.count %></span>gossips</h6>
	      </li>
	      <li><h6 class="d-flex justify-content-start ml-4"><span class="text-danger mr-2"><%= Comment.all.count %></span> commentaires</h6></li>
	      <li><h6 class="d-flex justify-content-start ml-4"><span class="text-danger mr-2"><%= City.all.count %></span> villes</h6></li>
    	</ul>
  	</div>
	</div>

	<div class="container mt-5">
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Pseudo</th>
	        <th>Titre</th>
	        <th>Commentaires</th>
	        <th></th>
	      </tr>
	    </thead>
	    <% Gossip.all.reverse.each do |gossip| %>
		    <tbody>
		      <tr>
		        <td><a class="" href="<%= user_path(gossip.user.id) %>"><%= gossip.user.username %></a></td>
		        <td><a class="" href="<%= gossip_path(gossip.id) %>"><%= gossip.title %></a></td>
		        <td><i class="far fa-comments mr-2"></i><%= gossip.comments.count %></td>
		        <td>
						<% if logged_in?(current_user) %>
							<%= current_user.id == gossip.user_id ? (link_to "Edit Gossip", edit_gossip_path(gossip.id)) : nil %>
							<%= current_user.id == gossip.user_id ? (link_to "Delete Gossip", gossip_path(gossip.id), method: :delete) : nil %>
							<%= link_to like_gossip_path(gossip.id), method: :put do %>
								<% if !current_user.liked? gossip %>
									<i class="far fa-heart"></i>
								<% else %>
									<i class="fas fa-heart text-danger"></i>
								<% end %>
								<%= gossip.get_upvotes.size %>
							<% end %>
						<% end %>
						</td>
		      </tr>
		    </tbody>
	    <% end %>
	  </table>
	</div>
</section>
