<section class="mt-3">
	<div class="container">
	  <h2 class="text-center">À ce jour il y a <%= Gossip.all.count %> gossips</h2>
	  <p></p>
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Pseudo</th>
	        <th>Titre</th>
	        <th>Commentaires</th>
	        <th></th>
	      </tr>
	    </thead>
	    <% Gossip.all.reverse.each do |gossip| %>
		    <tbody>
		      <tr>
		        <td><a class="" href="<%= user_path(gossip.user.id) %>"><%= gossip.user.username %></a></td>
		        <td><a class="" href="<%= gossip_path(gossip.id) %>"><%= gossip.title %></a></td>
		        <td><i class="far fa-comments mr-2"></i><%= gossip.comments.count %></td>
		        <td><a href="<%= edit_gossip_path(gossip.id) %>">Editer Gossip</a></td>
		      </tr>
		    </tbody>
	    <% end %>
	  </table>
	</div>
</section>

<h1 class="text-center mt-3 mb-3">Liste de tous les Gossips</h1>



<section class="d-flex flex-column text-center align-items-center">
  <% Gossip.all.reverse.each do |gossip| %>
	  <div class="card w-25 mb-5">

		  <div class="card-body"><%= gossip.user.username %></div>

		  <div class="card-body"><%= gossip.title %></div>

	  	<div class="card-footer d-flex justify-content-around">

	  		<!-- Crée le <%= gossip.created_at %> !-->
	  		<a href="<%= gossip_path(gossip.id) %>">See More</a>
	  		<a href="<%= edit_gossip_path(gossip.id) %>">Edit Gossip</a>
	  		<!-- Modifié le <%= gossip.updated_at %> !-->

	  	</div>

		</div>

  <% end %>
</section>
