<section class="d-flex flex-column text-center align-items-center mt-3">

  <div class="card w-25 mb-5 border-0">

	  <div class="card-body"><a href="<%= user_path(@gossip_user_id) %>"><h3><%= @gossip_user_username %></h3></a></div>

	  <div class="card-body"><h6><%= @gossip_title %></h6></div>

	  <div class="card-body"><%= @gossip_content %></div>

  	<div class="card-footer d-flex justify-content-around">

  		Posté le <%= @gossip_created_at %>

  	</div>

	</div>
<%= link_to "#{@gossip_user_city_name}", city_path(@gossip_user_city_id) %>
</section>

<!-- Commentaires !-->

<section class="d-flex justify-content-center">

	<div class="w-50">

    <form action='/comments/' method='POST' class="d-flex justify-content-center flex-column align-items-center">
    	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    	<input type='hidden' name='gossip_id' value='<%= @gossip_id %>'>
    	<input class="form-control" type="text" name='comment_content' placeholder="Défoules-toi personne ne te vois derrière ton ordinateur"><br/>
    	<button type="submit" class="btn btn-secondary btn-lg btn-block">Poster le commentaire</button>
    </form>

		<% @gossip_comments.each do |comment| %>
			<p><%= link_to "#{comment.user.username}", user_path(comment.user.id) %><br>
			<%= comment.content %></p>
		<% end %>
	</div>

</section>
