<section>
	<p><%= link_to "#{@gossip_user_username}", user_path(@gossip_user_id) %><br>
	<%= @gossip_title %><br>
	<%= @gossip_content %><br>
	<%= @gossip_created_at %></p><br><br><br>
	<% @gossip_comments.each do |comment| %>
		<p><%= link_to "#{comment.user.username}", user_path(comment.user.id) %><br>
		<%= comment.content %></p>
	<% end %>
</section>
